

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">

<section id="contents">
   
        <!--for demo wrap-->
        <br>
        
        <h1>Candidate List</h1>
      
      
        <div class="tbl-header ">
          <table id="myTable">
            <thead>
              <tr>
                <th>Employee ID</th>
                <th>Full Name</th>
                <th>AdharCard Number</th>
                <th>Symbol</th>
                <th>E-Mail</th>
             <th>Choose Candidate</th>
              </tr>
            </thead>
          </table>
        </div>
        <div class="tbl-content">
          <table>
            <tbody>
              <tr  *ngFor="let candidate of listOfCandidate | search:adharNo ; " [formGroup]="form">
                <td>
                  <div class="form-group">
                   {{candidate.employeeId}}
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    {{candidate.fullName}} 
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    {{candidate.adharNo}}
                  </div>
                </td>
                <td>
                  <div  class="form-group" >
                    <img src=`{{candidate.symbol}}` width="100%" height="100%" alt="Image" />
                        
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    {{candidate.email}}
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="checkbox" class="largerCheckbox"
                    name="checkBox2" (click)="getCandidate(candidate.candidateId)"  >
                  </div>
                </td>
              </tr>			
             
            </tbody>
          
          </table>
        </div>
        <nav aria-label="...">
            <ul class="pagination">
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Add Election Details</a>
              </li>
              
              <li class="page-item active" aria-current="page">
                <a class="page-link" >Select Candidates for Election <span class="sr-only">(current)</span></a>
              </li>
              <li class="page-item"><a class="page-link" routerLink="E-Ballot/api/voterlist">Select Voters for Election </a></li>
             &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; <button type="button" class="btn btn-danger btn-large" (click)="navigateToVoterList()" data-target="#exitApplication">
                  Add selected Candidates </button>

            </ul>
          </nav>
         
        <!-- Exit (Are you sure?) Modal -->
        <!-- <div class="modal fade" id="exitApplication" tabindex="-1" role="dialog" aria-labelledby="exitApplication">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" >&times;</span></button>
                                   </div>
              <div class="modal-body">
                Do you want to save this application for later?
              </div>
              <div class="modal-footer">
                <a data-dismiss="modal" role="button" class="btn btn-default btn-large">Don't save</a>
                <a href="E-Ballot/api/voterlist" role="button" class="btn btn-success btn-large">Save</a>
              </div>
            </div>
          </div>
        </div> -->
        <!-- /Exit (Are you sure?) Modal -->
  
      
</section>

