<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">

<section id="contents">
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
     
     
      <li class="page-item active" aria-current="page">
        <span class="page-link">
          Add Election details
          <span class="sr-only">(current)</span>
        </span>
      </li>
      <li class="page-item"><a class="page-link" href="E-Ballot/api/candidatelist">Select Candidates for Election</a></li>
     
      <!-- <li class="page-item disabled"> -->
        <li class="page-item"><a class="page-link" [routerLink]="['/voterlist']">Select Voters of Election</a></li>
    </ul>
  </nav>
  <div class="  col-sm-12 ">
            
      
    <div class="alert alert-info" role="alert">
      <h3>Thank you for choosing e-ballot.</h3>
      
      <h4>Here are some rules you need to follow for Creating the ballot.</h4><p>1.Once you sumbit the form changes can not be undone. </p>
      <p>2.You can not go back to previous page once you click on sumbit.  </p>
    </div>
  

    <form #ElectionForm="ngForm" >
      <div class="row">

        <div class="col-lg-offset-0 col-lg-6 col-xs-12 col-sm-6">
          <div class="form-group">
            <label for="exampleInputEmail1">CIN Number</label>
            <input style="border: 1px solid rgba(0,0,0,.15);     width: 100%;
            padding: .5rem .75rem;border-radius: .50rem;" type="text" name="cin"
             [(ngModel)]="Election.cin" class="form-control" id="exampleInputEmail1" placeholder="CIN Number">
             <small id="emailHelp" class="form-text text-danger"
             *ngIf="form.get('cin')?.invalid  && form.get('cin')?.touched" >Please Enter valid CIN.</small>

          </div>
        </div>
      

        <form  ng-app="myApp"  ng-controller="validateCtrl"
name="myForm" novalidate>
        <div class="col-lg-6 col-xs-12 col-sm-6">
          
          <div class="form-group">
            <label for="exampleInputEmail1">Election Name</label>
            <input style="border: 1px solid rgba(0,0,0,.15);     width: 100%;
            padding: .5rem .75rem;border-radius: .50rem;" type="text" id="electionName" name="electionName" [(ngModel)]="Election.electionName" class="form-control" id="exampleInputEmail1" placeholder="Election Name">
         <span ng-show="myForm.electionName.$error.required">Username is required.</span>
        </div>
        </div>
        
        
        <div class="col-lg-offset-0 col-lg-6 col-xs-12 ">
          <div class="form-group">
            <label for="exampleInputEmail1">Start Date</label>
            <input min={{this.currentDate}} style="border: 1px solid rgba(0,0,0,.15);     width: 100%;
            padding: .5rem .75rem;border-radius: .50rem;" type="date" name="startDate" id="startDate" [(ngModel)]="Election.startDate" class="form-control" id="exampleInputEmail1" placeholder="Start Date Of Election">
          </div>
        </div>

        <div class="col-lg-offset-0 col-lg-6 col-xs-12 col-sm-6">
          <div class="form-group">
            <label for="exampleInputEmail1">End Date</label>
            <input min={{this.currentDate}} style="border: 1px solid rgba(0,0,0,.15);     width: 100%;
            padding: .5rem .75rem;border-radius: .50rem;" type="date" name="endDate" id="endDate" [(ngModel)]="Election.endDate" class="form-control" id="exampleInputEmail1" placeholder="End Date of Election">
          </div>
        </div>

           

        <div class="col-lg-offset-0 col-lg-6 col-xs-12 col-sm-6">
          <div class="form-group">
            <label for="exampleInputEmail1">Result Date</label>
            <input min={{this.currentDate}} style="border: 1px solid rgba(0,0,0,.15);     width: 100%;
            padding: .5rem .75rem;border-radius: .50rem;" type="date" class="form-control" id="resultDate" name="resultDate" [(ngModel)]="Election.resultDate" id="exampleInputEmail1" placeholder="Result Date of Election">
          </div>
        </div>

        <div class="bg-warning col-lg-offset-0 col-lg-12 col-xs-12">
          <div class="checkbox">
            <label>
            Remember once you sumbit the form you are not allowed to make any further changes. So make sure that
          you enter the correct details.</label>
          </div>
        </div>

        <button type="button" id="submit" class="btn btn-primary btn-large"  data-target="#exitApplication" disabled="disabled" (click)="addElection()" >Create Ballot</button>
        <!-- <input type="submit" id="register"  (click)="addElection()" class="btn btn-primary btn-large"  ata-target="#exitApplication"  value="Create Ballot" disabled="disabled"/> -->
        

      </form>
    
      </div><!--/ Row-->
      
      

    
      <!-- Exit (Are you sure?) Modal -->
      <!-- <div class="modal fade" id="exitApplication" tabindex="-1" role="dialog" aria-labelledby="exitApplication">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                 </div>
            <div class="modal-body">
              Do you want to save this application for later?
            </div>
            <div class="modal-footer">
              <a data-dismiss="modal" role="button" class="btn btn-default btn-large">Don't save</a>
              <a routerLink="E-Ballot/api/candidatelist"  role="button" class="btn btn-success btn-large">Save</a>
            </div>
          </div>
        </div>
      </div> -->
      <!-- /Exit (Are you sure?) Modal -->


      
    </form>

  </div> <!-- /Main Content -->


      
</section>
<script src='http://code.jquery.com/jquery-latest.js'></script> 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.js"></script>
