<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <app-header></app-header>

    <br>
    <br>
    <br>
<div class="container my-5">
    <div class="row">
      <div class="col-md-6 p-4 p-sm-5 order-2 order-sm-1">
        <small class="text-uppercase" style="color: #9B5DE5;">How we work</small>
        <h1 class="h2 mb-4" style="font-weight: 600;">Our <span style="color: #9B5DE5;">Approach</span></h1>
        <p class="text-secondary" style="line-height: 2;">When it comes to voting on anything of importance, rarely does a "one-size fits all" approach work. We believe that even the simplest of votes should be carried out with expert precision.

            Our team is here to first understand your voting requirements, and then recommend the right software and services for your individual needs.</p>
       
      </div>

      
      <div class="col-md-6 p-0 text-center order-1 order-sm-2">
         <img src="https://www.eballot.com/hs-fs/hubfs/AdobeStock_188212750.jpg?width=900&height=566&name=AdobeStock_188212750.jpg" class="w-100" alt="">
      </div>
      <hr>
      <br>

     <div class="col-md-6 p-0 text-center">
        <img src="https://www.eballot.com/hs-fs/hubfs/EBA-16-About-Our-Approach.jpg?width=1950&height=1080&name=EBA-16-About-Our-Approach.jpg" class="w-100" alt="">
     </div>
     <div class="col-md-6 p-4 p-sm-5">
       <small class="text-uppercase" style="color: #9B5DE5;">About us</small>
       <h1 class="h2 mb-4" style="font-weight: 600;">Our  <span style="color: #9B5DE5;">Mission</span></h1>
       <p class="text-secondary" style="line-height: 2;">We realize the impact of decisions extends far beyond any single vote.

        Every day, we're driven to refine the right tools organizations need to elect leaders, set new policies, and streamline their decision-making process.</p>
      
        
         
       
     </div>
    </div>
  
 
 
    <section id="team">
        <div class="container">
            <div class="section-header">
                <h3>Team</h3>
                <p>Meet our team</p>
                <p style="font-style: italic ; font-weight: bold;">"Voting is the expression of our commitment to ourselves,one another,this country and this world.
                    "</p>
            </div>
            <div class="row">
                <div class="col-lg-1 col-md-2 col-sm-1 wow fadeInUp"></div>
                <div class="col-lg-2 col-md-2 col-sm-1 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                    <div class="member"> <img src="/assets/aman.jfif" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Aman Kayre</h4> <span>Developer</span>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-1 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                    <div class="member"> <img src="/assets/mrudula.jfif" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Mrudula Deo</h4> <span>Developer</span>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-1 wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                    <div class="member"> <img src="/assets/shwetlana.jfif" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Shwetalana Patil</h4> <span>Developer</span>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-1 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                    <div class="member"> <img src="assets/pravin.jpg" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Pravin Jeurkar</h4> <span>Developer</span>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-1 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                    <div class="member"> <img  src="assets/neha.jfif" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Neha Rambhad</h4> <span>Developer</span>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1 col-md-2 col-sm-1 wow fadeInUp"></div>
            </div>
        </div>
    </section>


 
 <!-- <div class="container-fluid"> -->
     


 </div>
 <app-footer></app-footer>