<!-- <ngx-spinner
bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#fff"
type="ball-scale-multiple">
  template="<img style="width:110px;margin-bottom: 50%;"src='https://media3.giphy.com/media/xTk9ZvMnbIiIew7IpW/200w.webp?cid=ecf05e47itusgjhy9445kqy20ctgzr12chpj0hypfouwu96z&rid=200w.webp' />" 
</ngx-spinner> -->
<router-outlet></router-outlet>
<!-- <app-result></app-result> -->
<!-- <app-content></app-content> -->
<!-- <app-createballot></app-createballot> -->
<!-- <app-voterdashboard></app-voterdashboard> -->
<!-- <app-candidateorganisation></app-candidateorganisation> -->
<!-- <app-profile></app-profile> -->
<!-- <app-Votecandidate></app-Votecandidate> -->
<!-- <app-addcandidate></app-addcandidate> -->
