<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
  integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
  crossorigin="anonymous" />
<link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
<app-sidebar>
</app-sidebar>
<app-navbar></app-navbar>
<div class="col-lg-12 mb-4 ">
  <router-outlet></router-outlet>
</div>
