<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
   
      
      
    <section id="contents">
  
     
  
<nav class="navbar navbar-default" style="background-color:#252636;">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <i class="fa fa-align-right"></i>
        </button>
        <a class="navbar-brand" href="#">e<span class="main-color">Ballot</span></a>
      </div>
      <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My profile <span class="caret"></span></a>
            <ul class="dropdown-menu">
             
              <li><a href="#"><i class="fa fa-question-circle"></i> Help</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#"><i class="fa fa-sign-out"></i> Log out</a></li>
            </ul>
          </li>
         
          <li><a href="#"><i data-show="show-side-navigation1" class="fa fa-home"></i></a></li>
        </ul>
      </div>
    </div>
  </nav>
  <br>
  <div class="alert alert-info" role="alert">
    <h4>Thank you for choosing e-ballot.</h4>
    <h4>Here are some rules you need to follow for voting the candidate.</h4>
    <p>1.You are allowed to vote only if you upload the valid secure file which
      was sent on your email.
       </p>
       <p>2.You are allowed to vote only one candidate at a time.</p>
    <p>3.Once you vote the candidate your are not allowed to vote again. Hence make the correct choice.</p>


  </div>

<br>

  <div class="col-lg-offset-0 col-lg-12 ">
    <div class="form-group">
      <label for="exampleInputEmail1">Upload File Details</label>

      <input type="file" (change)="uploadFile($event)" class="form-control" id="customFile" /> </div>
  </div>

  <div class="bg-warning col-lg-offset-0 col-lg-12 col-xs-12">
    <div class="checkbox">
      <label>
        <button type="checkbox" class="btn btn-primary" (click)="validateVoter()" value="">Upload</button>
      Check the box if you done the file uploding. (Your are allowed to vote only if you Upload the file, so make Sure that you completed the process.)</label>
    </div>
  </div>
<br>
<br>



  <body ng-app="myApp" ng-controller="mainController" *ngIf="isValidated">
    <div class="poll-container">
      <div class="poll-voter">
        <h4 class="poll-title">Vote Candidate for {{this.electionName}}</h4>

        <hr style="border: none; height: 2px; background: #ADC0DF;">
<form>     <table class="poll-list">
          <thead>
            <tr class="vote-row" ng-repeat="opt in options">
              <th class="poll-option" style="margin-left: 100%;"><p>Candidate</p><div class="poll-option-bar" style="width: 100%; font-size: 20px;"></div></th>
              <th class="poll-option"><p></p><div class="poll-option-bar" style="width: 100%;"></div></th>
              <th class="poll-option"><p>Vote</p><div class="poll-option-bar" style="width: 100%;"></div></th>
            </tr>
            
          </thead>
          <tbody>
          <hr style="height: 5px;">
           
            <tr class="vote-row" ng-repeat="opt in options" *ngFor="let item of election.candidateList">
              <td class="poll-option"><p>{{item.fullName}}</p><div class="poll-option-bar" style="width: 100%;"></div></td>
              <!-- <td class="poll-option"> <img src="assets/pravin.jpg" class="img-rounded" alt="Cinque Terre" width="10%" height="7%">  -->
                <!-- <div class="poll-option-bar" style="width: 100%;"></div></td> -->

            
                <td><label>
                  <input type="radio" class="option-input radio" (click)="getCandidateId(item.candidateId)"  name="example"/>
                  <!--<input type="text" name="candidateId" value={{item.candidateId}} [(ngModel)]="candidate.candidateId"/>   -->
                         </label></td>
              
          </tbody>
        </table>
  </form>      
      </div>
    </div>
    <div class="col-lg-offset-0 col-lg-12 col-xs-12"> 
      <br><br>
        <span class="glyphicon glyphicon-info-sign"></span>               
          You are allowed to vote only one candidate.  If your done with your right choice then click on done.
    </div>
  
  
    <hr>
    <br><br>
    <br><br>
    <button type="button" (click)="checkIsVoted()"class="btn btn-primary btn-large" style="margin-left: 50%;" data-toggle="modal" data-target="#exitApplication"> Done </button>
    <br><br>
    <br><br><br><br><br>
  </body>
       
   
 
  <!-- Exit (Are you sure?) Modal 
  <div class="modal fade" id="exitApplication" tabindex="-1" role="dialog" aria-labelledby="exitApplication">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                             </div>
        <div class="modal-body">
          Do you want to save this application for later?
        </div>
        <div class="modal-footer">
          <a href="#" role="button" class="btn btn-default btn-large">Don't save</a>
          <a href="#" role="button" (click)="checkIsVoted(item.candidateId)" class="btn btn-success btn-large">Save</a>
        </div>
      </div>
    </div>

  </div> /Exit (Are you sure?) Modal -->

 
 
         
    </section>