<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<br>
<br>
<br>
<section id="contents">
<div class="container-xl">
	<div class="table-responsive">
		<div class="table-wrapper">
			<div class="table-title">
				<div class="row">
					<div class="col-sm-6">
						<h2>Manage <b>candidate</b></h2>
					</div>
					<!-- <div class="col-sm-6">
						<a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Add New candidate</span></a>
					&nbsp; &nbsp;	<a href="#deleteEmployeeModal" class="btn btn-danger" data-toggle="modal"><i class="material-icons">&#xE15C;</i> <span>Delete</span></a>						
					</div> -->
				</div>
            </div>
            <br>
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Employee ID</th>
						<th>Full Name</th>
						<th>Adharcard Number</th>
						<!-- <th>Symbol</th> -->
						<th>E-mail ID</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr  *ngFor="let candidate of listOfCandidate">
						<td>
							<div class="form-group">
								<!-- <input type="text" value={{candidate.employeeId}}    class="form-control" required> -->
								{{candidate.employeeId}}
							</div>
						</td>
						<td>
							<div class="form-group">
								<!-- <input type="text" value={{candidate.fullName}}   class="form-control" required> -->
								{{candidate.fullName}}
							</div>
						</td>
						<td>
							<div class="form-group">
								<!-- <input type="text" value={{candidate.adharNo}}  class="form-control" required> -->
								{{candidate.adharNo}}
							</div>
						</td>
					<!--	<td>
							<div  class="form-group" >
								<img class="image-holder" src=candidate.symbol />
						        <input type="file" /> 
							</div>
					
						</td>-->
						<td>
							<div class="form-group">
								<!-- <input type="text" value={{candidate.email}}  class="form-control" required> -->
								{{candidate.email}}
							</div>
						</td>
						<td>
							<a href="#editEmployeeModal" (click)="updateCandidate(candidate.candidateId)" (click)="load()" class="edit" data-dismiss="modal" data-toggle="modal"><i class="material-icons" data-dismiss="modal" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
							<a href="#deleteEmployeeModal" class="delete" (click)="deleteCandidate(candidate.candidateId)" data-toggle="modal"><i class="material-icons" data-dismiss="modal" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
						</td>
					</tr>						
				</tbody>
			</table>
		</div>
	</div>        
</div>

<!-- Edit Modal HTML -->
<div id="editEmployeeModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<form>
				<div class="modal-header">						
					<h4 class="modal-title">Edit candidate</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">					
					<div class="form-group">
						<label>Employee ID</label>
						<input type="text" [(ngModel)]=employeeId name="employeeId"  class="form-control" required>
						<small id="emailHelp" class="form-text text-danger"
						*ngIf="form.get('employeeId')?.invalid  && form.get('employeeId')?.touched" >Please Enter valid employeeId.</small>
			  
                    </div>
                    <div class="form-group">
						<label>Full Name</label>
						<input type="text" [(ngModel)]=fullName name="fullName"   class="form-control" required>
						<small id="emailHelp" class="form-text text-danger"
						*ngIf="form.get('fullName')?.invalid  && form.get('fullName')?.touched" >Please Enter valid Full Name.</small>
			  
                    </div>
                    
					<div class="form-group">
						<label>Adharcard Number</label>
						<input type="text" [(ngModel)]=adharNo name="adharNo" class="form-control" required>
						<small id="emailHelp" class="form-text text-danger"
						*ngIf="form.get('adharNo')?.invalid  && form.get('adharNo')?.touched" >Please Enter valid Adharcard number.</small>
			  
					</div>
					<div class="form-group">
						<label>Email</label>
						<input type="text" [(ngModel)]=email  name="email" class="form-control" required>
						<small id="emailHelp" class="form-text text-danger"
						*ngIf="form.get('email')?.invalid  && form.get('email')?.touched" >Please Enter valid Email-id.</small>
			  
					</div> 
					<div class="form-group">
						<label>Symbol</label><br>
						<img src={{candidate.symbol}}><br>
						<input type="file" (change)="uploadFile($event)"  class="form-control" required>
						<span class="text-danger" *ngIf="iserror">{{errormsg}}</span>
					</div>               					
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal" data-dismiss="modal" (click)="load()" value="Cancel">
					<input type="submit" class="btn btn-info" (click)="modifyCandidate(employeeId,fullName,adharNo,email,candidateId)"  (click)="load()" 
					data-dismiss="modal" value="Save">
				</div>
			</form>
		</div>
	</div>
</div>
<!-- Delete Modal HTML -->
<div id="deleteEmployeeModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<form>
				<div class="modal-header">						
					<h4 class="modal-title">Delete candidate</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">					
					<p>Are you sure you want to delete these Records?</p>
					<p class="text-warning"><small>This action cannot be undone.</small></p>
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" (click)="load()" data-dismiss="modal" value="Cancel">
					<input type="submit" class="btn btn-danger" (click)="deleteCandidateProfile()"  data-dismiss="modal" value="Delete">
				</div>
			</form>
		</div>
	</div>
</div>

</section>